body {
	font-family: sans-serif;
	background-color: #ddd;
}

.top {
	padding: 50px;
	padding-top: 100px;
}

path {
	animation: pather 600ms;
	transform-origin: center;
	transition: 200ms;
}

path:hover {
	fill: #087;
	transition: 0ms;
}

@keyframes pather{
	from {
		transform: scale(0.7);
	}
	to {
		transform: scale(1);
	}
}

button,input {
	padding: 15px 17px;
	border-radius: 7px;
	border: none;
	border: 1px solid #666;
}

input {
	padding: 5px 17px;
}

button {
	background-color: #bcc;
}

button:hover {
	background-color: #aff;

}

#nameList {
	list-style: none;
	padding-right: 10px;
	padding-left: 0
}

#nameList li {
	margin: 4px;
	border-radius: 3px;
	background-color: #ccc;
	padding: 8px;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

@keyframes winanim{
    0% {
        filter: 
            drop-shadow(0 0 #99ff99)
            drop-shadow(0 0 #99ff99)
            drop-shadow(0 0 #99ff99)
            drop-shadow(0 0 #99ff99)
        ;
    }
    30% {
        filter: 
            drop-shadow(14px 0 #99ff99)
            drop-shadow(-14px 0 #99ff99)
            drop-shadow(0 14px #99ff99)
            drop-shadow(0 -14px #99ff99)
        ;
    }
    100% {
        filter: 
            drop-shadow(0 0 #99ff9900)
            drop-shadow(0 0 #99ff9900)
            drop-shadow(0 0 #99ff9900)
            drop-shadow(0 0 #99ff9900)
        ;
    }
}

.winimate {
    animation: winanim 800ms;
    animation-timing-function: ease-in-out;
    transform-origin: center;
    border: 2px solid red !important;
}

/**/

.btn {
	margin: 8px
}

#suggestions {
	display: flex;
	flex-direction: column;
	gap: 4px
}

#suggestions button {
	padding: 7px;
	border: none;
	background-color: transparent;
	text-align: left
}

#suggestions button:hover {
	background-color: #ccc
}
#suggestions button:focus{
	background-color: #bbb
}


#suggestions {
	transition: 300ms;
	transform: translate(0px, -20px)
}

#suggestions:has(.suggestion) {
	transition: 300ms;
	transform: translate(0px, 0px);
	/* padding-top: 10px !important; */
}

#svgPartInput {
	padding: 13px
}
